@page "/client"
@using Blazor_Application.Shared
@inject HttpClient Http
@inject IClientService ClientService
@inject NavigationManager NavigationManager



<PageTitle>List of clients</PageTitle>

<h1>List of clients</h1>


@if (ClientService.Clients == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>VAT ID number</th>
                    <th>Current Date</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var client in ClientService.Clients)
            {
                        <tr>
                            <td>@client.Name</td>
                            <td>@client.Surname</td>
                            <td>@client.VAT_ID_number</td>
                            <td>@client.Current_Date.ToShortDateString()</td>
                            <td>@client.Address</td>
                            <td>
                                <Button class = "btn btn-primary" @onclick="(() => ShowClient(client.VAT_ID_number))"><i class="oi oi-code"></i></Button>
                            </td>

                        </tr>
            }
            </tbody>
        </table>
}
@code{
    protected override async Task OnInitializedAsync()
    {
        await ClientService.GetClients();
    }
    void ShowClient(int VAT_ID_number)
    {
        NavigationManager.NavigateTo($"SingleClient/{VAT_ID_number}");
    }

}